_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json

*.iml

.idea/workspace.xml

.idea/vcs.xml

.idea/php.xml

.idea/modules.xml

.idea/markdown-navigator/profiles_settings.xml

.idea/markdown-navigator.xml
