---
layout: default
---

<div class="widgets-grid">
  {% for widget in site.data.homepage.widgets %}
    {% if widget.type == "latest" %}
      {% include widget_latest.html title=widget.title limit=widget.limit %}
    {% elsif widget.type == "series" %}
      {% include widget_series.html title=widget.title series=widget.series limit=widget.limit %}
    {% elsif widget.type == "tag" %}
      {% include widget_tag.html title=widget.title tag=widget.tag limit=widget.limit %}
    {% elsif widget.type == "recommended" %}
      {% include widget_recommended.html title=widget.title description=widget.description limit=widget.limit %}
    {% elsif widget.type == "books" %}
      {% include widget_books.html title=widget.title description=widget.description %}
    {% endif %}
  {% endfor %}
</div>
