{% if site.footerlinks.email %}<li class="fork"><a href="mailto:{{ site.footerlinks.email }}">Email</a></li>{% endif %}
{% if site.footerlinks.github %}<li class="fork"><a href="https://github.com/{{ site.footerlinks.github }}">GitHub</a></li>{% endif %}
{% if site.footerlinks.linkedin %}<li class="fork"><a href="https://www.linkedin.com/in/{{ site.footerlinks.linkedin }}">LinkedIn</a></li>{% endif %}
{% if site.footerlinks.rss %}<li class="fork"><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>{% endif %}
{% if site.footerlinks.twitter %}<li class="fork"><a href="https://www.twitter.com/{{ site.footerlinks.twitter }}">Twitter</a></li>{% endif %}
<li class="fork"><a href="https://www.youtube.com/channel/UChhb1OKQVsT3SZ7lii580sw">Vídeos</a></li>
<li class="fork"><a href="https://leanpub.com/u/franiglesias">eBooks</a></li>
<li class="fork"><a href="https://www.lulu.com/spotlight/franiglesias/">Paper Books</a></li>
