{% if site.footerlinks.email %}<li class="fork"><a href="mailto:{{ site.footerlinks.email }}" alt="email" title="email">📩</a></li>{% endif %}
{% if site.footerlinks.github %}<li class="fork"><a href="https://github.com/{{ site.footerlinks.github }}" alt="github" title="github">👨🏻‍💻</a></li>{% endif %}
{% if site.footerlinks.linkedin %}<li class="fork"><a href="https://www.linkedin.com/in/{{ site.footerlinks.linkedin }}" alt="linkedin" title="LinkedIn">👔</a></li>{% endif %}
{% if site.footerlinks.twitter %}<li class="fork"><a href="https://www.twitter.com/{{ site.footerlinks.twitter }}"  alt="twitter" title="Twitter">🕊</a></li>{% endif %}
{% if site.footerlinks.youtube %}<li class="fork"><a href="https://www.youtube.com/c/{{ site.footerlinks.youtube }}"  alt="youtube" title="Youtube">📺</a></li>{% endif %}
{% if site.footerlinks.leanpub %}<li class="fork"><a href="https://leanpub.com/u/{{ site.footerlinks.leanpub }}"  alt="leanpub" title="Leanpub">📘</a></li>{% endif %}
<li class="fork"><a href="https://www.lulu.com/spotlight/franiglesias/" alt="libros impresos" title="Libros impresos">📖</a></li>
{% if site.footerlinks.rss %}<li class="fork"><a href="{{ site.baseurl }}/feed.xml" alt="rss feed" title="RSS feed">🗞</a></li>{% endif %}
