{% if site.footerlinks.email %}<li class="fork"><a href="mailto:{{ site.footerlinks.email }}">📩</a></li>{% endif %}
{% if site.footerlinks.github %}<li class="fork"><a href="https://github.com/{{ site.footerlinks.github }}">👨🏻‍💻</a></li>{% endif %}
{% if site.footerlinks.linkedin %}<li class="fork"><a href="https://www.linkedin.com/in/{{ site.footerlinks.linkedin }}">👔</a></li>{% endif %}
{% if site.footerlinks.twitter %}<li class="fork"><a href="https://www.twitter.com/{{ site.footerlinks.twitter }}">🕊</a></li>{% endif %}
<li class="fork"><a href="https://www.youtube.com/channel/UChhb1OKQVsT3SZ7lii580sw">📺</a></li>
<li class="fork"><a href="https://leanpub.com/u/franiglesias">📘</a></li>
<li class="fork"><a href="https://www.lulu.com/spotlight/franiglesias/">📖</a></li>
{% if site.footerlinks.rss %}<li class="fork"><a href="{{ site.baseurl }}/feed.xml">🗞</a></li>{% endif %}
