{% if site.footerlinks.email %}<li><a href="mailto:{{ site.footerlinks.email }}">Email</a></li>{% endif %}
{% if site.footerlinks.github %}<li><a href="https://github.com/{{ site.footerlinks.github }}">GitHub</a></li>{% endif %}
{% if site.footerlinks.linkedin %}<li><a href="https://www.linkedin.com/in/{{ site.footerlinks.linkedin }}">LinkedIn</a></li>{% endif %}
{% if site.footerlinks.rss %}<li><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>{% endif %}
{% if site.footerlinks.twitter %}<li><a href="https://www.twitter.com/{{ site.footerlinks.twitter }}">Twitter</a></li>{% endif %}
