{% if site.footerlinks.email %}<li><a href="mailto:{{ site.footerlinks.email }}"><i class="svg-icon email"></i></a></li>{% endif %}
{% if site.footerlinks.github %}<li><a href="https://github.com/{{ site.footerlinks.github }}"><i class="svg-icon github"></i></a></li>{% endif %}
{% if site.footerlinks.linkedin %}<li><a href="https://www.linkedin.com/in/{{ site.footerlinks.linkedin }}"><i class="svg-icon linkedin"></i></a></li>{% endif %}
{% if site.footerlinks.rss %}<li><a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon rss"></i></a></li>{% endif %}
{% if site.footerlinks.twitter %}<li><a href="https://www.twitter.com/{{ site.footerlinks.twitter }}"><i class="svg-icon twitter"></i></a></li>{% endif %}
