{% if site.footerlinks.email %}<a href="mailto:{{ site.footerlinks.email }}"><i class="svg-icon email"></i></a>{% endif %}
{% if site.footerlinks.github %}<a href="https://github.com/{{ site.footerlinks.github }}"><i class="svg-icon github"></i></a>{% endif %}
{% if site.footerlinks.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footerlinks.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
{% if site.footerlinks.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon rss"></i></a>{% endif %}
{% if site.footerlinks.twitter %}<a href="https://www.twitter.com/{{ site.footerlinks.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
