---
---

@import "{{ site.theme }}";

// Vars

$margin: 25%;

p code {
	font: {
		size: inherit;
		family: 'Fira Mono', Monaco, Terminal, Courier, monospace;	
	};
	color: #efefef;
	margin: 0 4px;
	padding: 4px 6px;
	border-radius: 2px;
	background-color: rgba(255,255,255,.2);
}

article {
	div.authors {
		p {
			font: {
				size: 14px;
				style: oblique
			}
			text-align: center;
		}
	}

	&.post {
		margin-bottom: 4.5rem;
	
		&.post.full-post {
			h1 {
				text-align: center;
			}
	
			.entry {
				div.footnotes ol li p:first-child {
					text-align: left !important;
					font-size: small !important;
					margin: 0rem 0rem 1rem 0rem !important;
				}	

				p:first-child {
				    color: #ccc;
				    font-size: 130%;
				    text-align: center;
				    margin: 2rem 1rem 5rem 1rem;
				}
			}	
			
		}
	}
}

pre {
	&.highlight {
	    margin-left: -$margin;
	    padding-left: $margin;
	    margin-right: -$margin;
		padding-right: $margin;
		
		&.cp {
			color: #555;
		}
		
	code {
		font: {
			family: 'Fira Mono', Monaco, Terminal, Courier, monospace;
			}
		}
	}
}

