<!doctype html>
<html lang="{{ site.lang }}">
<head>
    <title>{{ site.short }}: {{ page.title }}</title>
    {% include meta.html %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/tb.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <!-- _includes/head-custom.html -->
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
        mermaid.initialize({startOnLoad:true,theme:'dark'})
        await mermaid.run({querySelector:'code.language-mermaid'})
    </script>
	
</head>
<body>
<div id="header">
    <nav>
        {% include menu.html %}
        <li class="title"><a href="{{ site.url }}">{{ site.title | default: site.github.repository_name }}</a></li>
    </nav>
</div><!-- end header -->
<div class="wrapper">
    <section>
        {{ content }}
    </section>
    <section id="tags">
        {% include archive.html %}
    </section>
</div>

</body>
</html>
