<!doctype html>
<html lang="{{ site.lang }}">
<head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    {% seo %}
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
    <a rel="me" href="https://mastodon.online/@talkingbit"></a>
    <link rel="stylesheet" href="{{ '/assets/css/tb.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
<div id="header">
    <nav>
        {% include menu.html %}
        <li class="title"><a href="{{ site.url }}">{{ site.title | default: site.github.repository_name }}</a>
        </li>
    </nav>
</div><!-- end header -->
<div class="wrapper">

    <section>
        <div id="title">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            <p>{{ site.description | default: site.github.project_tagline }}</p>
            <hr>
            <span class="credits left">Created by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
            <span class="credits left">&nbsp;-&nbsp;Hosted on GitHub Pages</span>
            <span class="credits right"><a href="/about/">About me</a></span>
        </div>

        <section id="tags">
            {% include archive.html %}
        </section>

        {{ content }}

    </section>

</div>
</body>
</html>
