---
layout: basic
---
<article class="post full-post">
    <header class="post-header">
    {% if page.subtitle %}
    <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}

    <h1>{{ page.title }}</h1>
    </header>
    <div class="authors">
        <p>por
            {% if page.author %}
            {% for author in page.author %}
            {{ site.data.authors[author].name }}&nbsp;
            {% endfor %}
            {% else %}
            {{ site.data.authors.fran.name }}
            {% endif %}
        </p>
    </div>
    <div class="entry">
        {{ content }}
    </div>

    <div class="metadata">
        <p>Publicado: {{ page.date | date: "%B %e, %Y" }}</p>
        <p>Etiquetas:
            {% for tag in page.tags %}
            {% capture tag_name %}{{ tag }}{% endcapture %}
            <a href="/tag/{{ tag_name }}"><span class="tag">
                <nobr>{{ tag_name }}</nobr>
            </span>&nbsp;</a>
            {% endfor %}
        </p>
        <p id="self-link">Enlace: {{site.url}}{{page.url}} <button type="button" class="tag" onClick="navigator.clipboard.writeText(window.location.href);">Copiar</button></p>
    </div>
</article>
{% include comments.html %}
<script src="../assets/js/code-blocks.js"></script>
<script src="../assets/js/code-labels.js"></script>
